.object-list-container{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    background-color: aqua;
    margin: 2% 0 1.5% 1% ;

}
h1{
    width: 90% ;
    height: 50px;
    background-color:rgb(51, 124, 153);
    /* color: white; */
}
